# Flutter/Dart/Pub related
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
build/
ios/Flutter/.last_build_id
ios/Pods/
ios/Podfile.lock
*.iml
*.hprof
*.lock
*.log
*.pyc
*.pdb
*.dll
*.exe
*.class
*.so
*.dSYM
*.tgz
*.zip

# IntelliJ related
.idea/
*.ipr
*.iws
*.iml

# VS Code related
.vscode/

# Android Studio related
*.gradle
local.properties
*.jks
*.keystore

# macOS related
.DS_Store

# Windows related
Thumbs.db

.env